/* styles for both anni albers layout */

/* by default, lets layout the first index.html file */

main {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.75rem;
    font-style: italic;
    width: calc(100% * 4/6);
    margin-bottom: 3rem;
}

h3 {
    font-size: 1.75rem;
    font-style: italic;
    width: calc(100% * 4/6);
    margin-bottom: 3rem;
}

p {
    font-size: 2rem;
    line-height: 2.5rem;
    width: 55%;
}


p.callout {
    font-size: 2rem;
    line-height: 2.2rem;
    font-style: italic;
    float: right;
    width: calc(100% * 2/6);
    text-align: right;
    padding-left: 2em;
    margin-top: 0;
}

#row2::after,
#row5::after,
#row7::after,
#row9::after {
    content: "";
    display: block;
    clear: both;
}

#row1 p,
#row3 p,
#row12 p,
#row13 p {

    margin-left: calc(100% * 1/6);

}

#row6 p,
#row8 p,
#row10 p {
    width: calc(100% * 3/6);
    margin-left: calc(100% * 3/6);
}




#row4 p {
    width: calc(100% * 3/6);
    margin-left: calc(100% * 2/6);

}


/* ***************************************************************************** */
/* CSS for index2 */


/* Inherit the baseline main code, above, and add to it */



#secondlayout main {
    display: grid;
    border: 4px solid red;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: repeat(15, auto);
    grid-template-areas:
'title title title title title title'
'. p1 p1 p1 . .'
'p2 p2 p2 c1 c1 c1'
'. p3 p3 p3 . .'
'p4 p4 p4 p4 . .'
'p5 p5 p5 c2 c2 c2'
'. p6 p6 p6 . .'
'p7 p7 p7 c3 c3 c3'
'. p8 p8 p8 . .'
'p9 p9 p9 c4 c4 c4'
'. p10 p10 p10 . .'
'. p11 p11 p11 . .'
'abtitle abtitle abtitle abtitle abtitle abtitle'
'p12 p12 p12 p12 . .'
'p12 p12 p13 p13 . .';
}


/*assigning grid names to DOM elements*/

#secondlayout #titlerow { grid-area: title;}
#secondlayout #aboutauthor { grid-area: abtitle;}
#secondlayout #para1 { grid-area: p1;}
#secondlayout #para2 {grid-area: p2;}
#secondlayout #para3 {grid-area: p3;}
#secondlayout #para4 { grid-area: p4;}
#secondlayout #para5 {grid-area: p5;}
#secondlayout #para6 {grid-area: p6;}
#secondlayout #para7 { grid-area: p7;}
#secondlayout #para8 {grid-area: p8;}
#secondlayout #para9 {grid-area: p9;}
#secondlayout #para10 {grid-area: p10;}
#secondlayout #para11 {grid-area: p11;}
#secondlayout #para12 {grid-area: p12;}
#secondlayout #para13 {grid-area: p13;}
#secondlayout #callout1 {grid-area: c1;}
#secondlayout #callout2 {grid-area: c2;}
#secondlayout #callout3 {grid-area: c3;}
#secondlayout #callout4 {grid-area: c4;}


/*overide the baseline p styles from above*/

#secondlayout p{
    width: 100%;
}