/* styles for both anni albers layout */

/* by default, lets layout the first index.html file */

main {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 0.75rem;
    font-style: italic;
    width: calc(100% * 4/6);
    margin-bottom: 3rem;
}

p {
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: calc(100% * 3/6);
    margin-top: 0;
    margin-bottom: 2rem;

}

p.callout {
    font-size: 2rem;
    line-height: 2.2rem;
    font-style: italic;
    width: calc(100% * 2/6);
    float: right;
    text-align: right;
    padding-left: 2em;
    margin-top: 0;
}

#row2::after,
#row5::after,
#row7::after,
#row9::after {
    content: "";
    display: block;
    clear: both;
}

#row1 p,
#row3 p,
#row6 p,
#row8 p,
#row10 p,
#row12 p,
#row13 p {

    margin-left: calc(100% * 1/6);

}


#row4 p {
    width: calc(100% * 3/6);
    margin-left: calc(100% * 3/6);

}




section {
    margin-bottom: 3rem;
}
