/* styles for both anni albers layout */

/* by default, lets layout the first index.html file */

main {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 0.75rem;
    font-style: italic; 
}

p {
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: 50%;
}

p.callout {
    font-size: 2rem;
    line-height: 2.2rem;
    font-style: italic;
    float: right;
    text-align: right;
    padding-left: 2em;
    margin-top: 0;
}

#row1 p,
#row3 p  {

    margin-left: calc(100% * 1/6);

}

#row4 p  {
    width: calc(100% * 3/6);
    margin-left: calc(100% * 3/6);

}