/*  NAV MENU  */

/* define variables */
:root {
    --nav-height: 3rem;
    --nav-bkgd-color: gray;
    --nav-text-color: white;
    --nav-hover-bkgd-color: lightgray;
    --nav-hover-text-color: black;
}

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: var(--nav-height) 0 0 0;
    font-size: 12px;
}

/* NAV BAR */
nav {
    position: absolute; /* changed from absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    background-color: var(--nav-bkgd-color);
}

#navBurger {
    display: block;
    font-size: 2rem;
    color: var(--nav-text-color);
    padding-left: 0.3em;
}

nav ul {
    background-color: var(--nav-bkgd-color);
    list-style: none;
}

nav > ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

nav.clicked > ul {
    max-height: 90vh;
}

nav a {
    text-decoration: none;
    color: var(--nav-text-color);
}

/* dropdown */
nav > ul > li {
    margin: 1rem;
}

nav > ul > li > ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

nav > ul > li.clicked > ul {
    max-height: 90vh;
}

/* hover */
nav li:hover {
    background-color: var(--nav-hover-bkgd-color);
}

nav li:hover a {
    color: var(--nav-hover-text-color);
}


/* DESKTOP */
@media screen and (orientation: landscape) {

        :root {
        --nav-height: 8rem;
    }


    #navBurger {
        display: none;
    }

    nav a {
        font-size: 2.5rem;   
    }

    nav > ul {
        overflow: visible;
    }

    nav > ul > li {
        float: left;
        margin: 0 2rem;
        margin-top: 1rem;
    }

    nav > ul > li > ul {
        position: absolute;
        visibility: hidden;
    }

    nav > ul > li.clicked > ul {
        visibility: visible;
    }
}




/*RECIPE STYLE*/

main {
    padding: 20px;
}

h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

img {
    width: 90%;
    margin: 15px auto;
    display: block;
}

section {
    margin: 30px auto;
    width: 90%;
}

h2, h3 {
    font-size: 14px;
    margin-bottom: 10px;
}

ul, ol {
    padding-left: 15px;
    margin-top: 15px;
}

li {
    margin-bottom: 10px;
}

footer {
    padding: 15px;
    font-size: 0.6rem;
}



/* DESKTOP GRID LAYOUT */

@media screen and (orientation: landscape)
{ 

main{ 
    display:grid; 
    grid-template-columns: repeat(6, 1fr); 
    gap:30px; 
    width:100%; 
    padding: 40px clamp(20px, 6vw, 100px);

    grid-template-areas: 
        "title title title image image image" 
        "ingredients ingredients ingredients image image image" 
        "directions directions directions tips tips tips"; 
} 


.title { 
    grid-area:title; 
}


.title h1 {
    font-size:150px; 
    margin-top:30px;
}

.image{ 
    grid-area:image; 
    width:100%; 
    height:auto; 
} 

.ingredients{ 
    grid-area:ingredients; 
    margin-top:30px;
    margin-bottom:50px;
} 

.directions{ 
    grid-area:directions; 
    width:100%; 
} 

.tips{ 
    grid-area:tips; 
} 

section{ 
    font-size:60px; 
    line-height:1.75; 
    margin-bottom:10px;
    width:100%;
} 

h2{ 
    font-size:80px; 
    margin-bottom:15px;
} 

ul, ol{
    padding-left:60px;
    margin-top:20px;
}

h3{ 
    font-size:70px; 
    margin-top:20px;
} 

footer{
    font-size:3.0rem;
    margin-top:20px;
}    

}

/* INTRO MOBILE  */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 20px;
}

.home img {
    width: 100%;
    max-width: 400px;
    height: auto;
   
}

.home-text h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.home-text p {
    font-size: 1rem;
}

/*INTRO LANDSCAPE*/

@media screen and (orientation: landscape) {
   
.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    gap: 40px;
 
}

.home img {
    width: 100%;
    height: auto;
}

.home-text {
    width: 50%;
}

.home-text h1 {
    font-size: 5rem;
    margin-bottom: 20px;
}

.home-text p {
    font-size: 2rem;
}

}