/* mobile-first design for Pacific Rhododendron layout */

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

header {
    width: 100vw;
    height: 100vh;
   
}

#RhododendronPicture {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("Pacific\ Rhododendron\ 2\ -\ Gary\ Monroe-1.jpeg");
    background-size: cover;
    background-position: center center;

}

#RhododendronTitle {

    width: 100vw;
  

}

#RhododendronTitle h1 {
    position: absolute;
    bottom: 0;
    left: 1em;
    color: white;
    font-size: 2.5em;
    width: calc(100vw - 2em);
    background-color: red;
}

#block1 { background-color: rgb(228, 89, 175); }
#block2 { background-color: rgb(196, 99, 177); }
#block3 { background-color: rgb(215, 136, 185); }
#block4 {background-color: pink; }

#mainBlock {
  position: relative;
  display: flex;
  flex-direction: column;
}

#mainBlock div {
  flex-grow: 1;
}




/*  REST OF THE MOBILE BASELINE LAYOUT  */


@media screen and (orientation: landscape) {

    header {
         height: 100vh;
    }
       
    
    #RhododendronPicture {
        width: 50vw;
       
    }

    #RhododendronTitle {
        width: 50vw;
        height: 100vh;
        left: 50vw;
        background-color: #333;
        position: absolute;
    }

    #RhododendronTitle h1 {
        width: 45vw;
     position: static;
        margin-bottom: 1em;
    }

    #mainBlock {
    position: absolute;
    flex-direction: column;
    display: flex;
    left: 50vw;
    width: 50vw;
    height: 100vh;
    padding: 6em 2em 2em 2em;

  }



   
    
}
