/* mobile-first design for responsive recipe layout */

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


body {
    padding: 0;
    margin: 0;
    font-size: 12px;
     
    
}


 h1 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    line-height: 1.2;
}

img {
    width: 60%;
    height: auto;
    margin: 15px 0;
    display: block;
}


main {
    padding: 20px;

}

section {
    margin-bottom:30px;
    margin-top: 30px;
     width: 60%;

}

h2 {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: bold;

}

h3 {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: bold;

}

ul,
ol {

    padding-left: 15px;
    margin-top: 15px;

}

li {
    margin-bottom: 10px;
}

footer {

    padding: 15px;
    font-size: 0.5rem;
}



/*  REST OF THE MOBILE BASELINE LAYOUT  */


@media screen and  (orientation: landscape)

{ 


main{ 

    display:grid; 

    grid-template-columns: repeat(6, 1fr); 

    gap:30px; 

    width:100%; 


 padding: 40px clamp(20px, 6vw, 100px);
    grid-template-areas: 

        "title title title image image image" 

        "ingredients ingredients ingredients image image image" 

        "directions directions directions tips tips tips"; 

} 


.title h1 { 

    grid-area:title; 
    
    font-size:150px; 
    margin-top:30px;

} 



.image{ 

    grid-area:image; 

    width:100%; 

    height:100%; 

    object-fit:cover; 

} 

.ingredients{ 

    grid-area:ingredients; 
     margin-top:30px;
    margin-bottom:50px;
} 

.directions{ 

    grid-area:directions; 
    width:80%; 

} 

.tips{ 

    grid-area:tips; 

} 

section{ 

    font-size:60px; 

    line-height:1.75 ; 
    margin-bottom:10px;
    width:100%;

} 
  

h2{ 

    font-size:80px; 
    margin-bottom:15px;

} 

  ul, ol{
    padding-left:60px;
    margin-top:20px;
      
}

h3{ 

    font-size:70px; 
    margin-top:20px;

} 

footer{
    font-size:3.0rem;
    margin-top:20px;
    
}    
} 


     





     

